{
  "extends": ["prettier", "plugin:@typescript-eslint/recommended"],
  "plugins": ["import"],
  "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "legacyDecorators": true,
      "experimentalObjectRestSpread": true
    }
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".json"]
      }
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true,
    "mocha": true,
    "jest": true
  },
  "rules": {
    "@typescript-eslint/interface-name-prefix": [0],
    "@typescript-eslint/no-explicit-any": [0],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "no-useless-escape": 1,
    "no-console": 1,
    "no-debugger": 1,
    "no-var": 2,
    "no-trailing-spaces": 0,
    "eol-last": 0,
    "no-alert": 0,
    "no-lone-blocks": 2,
    "no-case-declarations": 0,
    "jsx-quotes": [2, "prefer-double"],
    "arrow-body-style": ["error", "as-needed"],
    "import/order": [
      "error",
      {
        "groups": [
          ["external", "builtin"],
          "internal",
          ["parent", "sibling", "index"]
        ],
        "newlines-between": "always"
      }
    ],
    "import/no-useless-path-segments": "error",
    "import/no-relative-parent-imports": "off",
    "import/no-self-import": "error",
    "import/no-default-export": "off",
    "import/newline-after-import": "error",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "mjs": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never",
        "android": "never",
        "ios": "never"
      }
    ],
    "import/no-duplicates": "error",
    "import/first": "error",
    "import/no-named-as-default": "error",
    "import/export": "error",
    "sort-imports": [
      "error",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
      }
    ]
  },
  "globals": {
    "__DEV__": false,
    "expect": false,
    "element": false,
    "device": false,
    "by": false,
    "isIOS": false,
    "assets": false,
    "colors": false,
    "aspectRatio": false,
    "timeFormat": false,
    "isSmallScreen": false,
    "HermesInternal": false
  }
}
