{
  "branches": [ "master", { name: 'alpha', prerelease: true } ],
  "repositoryUrl": "https://github.com/kilohealth/rn-fitness-tracker",
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits",
        "releaseRules": [
          { "type": "build", "release": "patch" }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "types": [
            { "type": "feat", "section": "Features" },
            { "type": "fix", "section": "Bug Fixes" },
            { "type": "build", "section": "Build System / Dependencies" },
            { "type": "chore", "hidden": true },
            { "type": "docs", "hidden": true },
            { "type": "style", "hidden": true },
            { "type": "refactor", "hidden": true },
            { "type": "perf", "hidden": true },
            { "type": "test", "hidden": true }
          ]
        }
      }
    ],
    "@semantic-release/changelog",
    "@semantic-release/npm",
    "@semantic-release/github",
    [
      "@semantic-release/git",
      {
        "assets": [ "CHANGELOG.md", "package.json", "yarn.lock" ]
      }
    ],
    [
      "semantic-release-slack-bot",
      {
        "notifyOnSuccess": false,
        "notifyOnFail": false,
        "markdownReleaseNotes": true,
        "branchesConfig": [
          {
            "pattern": "master",
            "notifyOnSuccess": true,
            "notifyOnFail": false
          }
        ]
      }
    ]
  ]
}
