{
  "branches": [ "master" ],
  "repositoryUrl": "https://github.com/kilohealth/rn-fitness-tracker",
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits",
        "releaseRules": [
          { "type": "build", "release": "patch" },
          { "type": "chore", "release": "patch" },
          { "type": "ci", "release": "patch" }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits"
      }
    ],
    "@semantic-release/changelog",
    "@semantic-release/npm",
    "@semantic-release/github",
    [
      "@semantic-release/git",
      {
        "assets": [ "CHANGELOG.md", "package.json", "yarn.lock" ]
      }
    ]
  ]
}
