/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.wrapper {
  background-color: #FFFFFF;
  background-image: linear-gradient(179.04deg, rgb(214, 246, 248) 0.82%, rgb(245, 222, 244) 47.44%, rgb(214, 250, 246) 99.18%);
}

[data-theme='dark'] .wrapper {
  background-color: #130F28;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 67.19%, rgba(0, 0, 0, 0.85) 100%), linear-gradient(114.47deg, rgba(205, 38, 191, 0.4) 30.75%, rgba(0, 194, 207, 0.4) 59.79%, rgba(0, 220, 197, 0.4) 82.38%); 
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroTitle {
  font-size: 3rem;
  display: block;
  font-family: "dm sans", sans-serif;
  font-weight: 700;
  background: linear-gradient(90.09deg, #cc30b9 40.34%, #57c1ce 49.26%, #66ddc6 78.13%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.heroSubtitle {
  color: #000000;
  font-size: 1.25rem;
}

[data-theme='dark'] .heroSubtitle {
  color: #FFFFFF;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.getStarted {
  background-color: white;
  color: rgb(63, 72, 67);
}
.getStarted:hover {
  background-color: #eeeeee;
  color: rgb(95, 102, 96);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  margin-bottom: 1rem;
  height: 450px;
}
